<div class="col-md-9 col-sm-12 col-xs-12">
<div class="x_panel" id="abc">
  <div class="x_title">
    <h1>Final Selected Candidates</h1>
    <ul class="nav navbar-right panel_toolbox">
    </ul>
    <div class="clearfix"></div>
  </div>

  <div class="x_content">
    <div class="table-responsive">
      <table class="table table-striped jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">Name </th>
            <th class="column-title">Email </th>
            <th class="column-title">Cv Score </th>
            <th class="column-title">Personality Insight Score </th>
            <th class="column-title">Interview Score </th>
            <th class="column-title">Status </th>
            <th class="column-title no-link last">
              <span class="nobr">Action</span>
            </th>

            <th class="bulk-actions" colspan="7">
              <a class="antoo" style="color:#fff; font-weight:500;">
                Bulk Actions ( <span class="action-cnt"> </span> )
                <i class="fa fa-chevron-down"></i>
              </a>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr class="even pointer">
            <!-- </td> -->
            <td class=" ">Shoaib Ahmed</td>
            <td class=" ">Shoaib@gmail.com </td>
            <td class=" ">7 <i class="success fa fa-long-arrow-up"></i></td>
            <td class=" ">9</td>
            <td class=" ">8.5</td>
            <td class="a-right a-right ">Active</td>
            <td class=" last"><a href="#">View</a></td>
          </tr>

          <tr class="even pointer">
            <!-- </td> -->
            <td class=" ">Ahsan Alam</td>
            <td class=" ">ahsanalam@gmail.com </td>
            <td class=" ">7 <i class="success fa fa-long-arrow-up"></i></td>
            <td class=" ">9</td>
            <td class=" ">8.5</td>
            <td class="a-right a-right ">Active</td>
            <td class=" last"><a href="#">View</a></td>
          </tr>

          <tr class="even pointer">
            <!-- </td> -->
            <td class=" ">Noman Dino Ahmed</td>
            <td class=" ">noman@gmail.com </td>
            <td class=" ">7 <i class="success fa fa-long-arrow-up"></i></td>
            <td class=" ">9</td>
            <td class=" ">8.5</td>
            <td class="a-right a-right ">Active</td>
            <td class=" last"><a href="#">View</a></td>
          </tr>

          <tr class="even pointer">
              <!-- </td> -->
            <td class=" ">Nehal</td>
            <td class=" ">nehal@gmail.com </td>
            <td class=" ">7 <i class="success fa fa-long-arrow-up"></i></td>
            <td class=" ">9</td>
            <td class=" ">8.5</td>
            <td class="a-right a-right ">Active</td>
            <td class=" last"><a href="#">View</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
